<% if object.errors.any? %>
  <div class="danger alert-danger">
    <ul class="text-danger">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <%end%>
    </ul>  
  </div>
<%end%>